HELP.md
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Spfing Boot
.gradle
build/

# React
node_modules/

# Windows OS files
.DS_Store